main {
    background-color: #e3e4e6 !important;
}
.navbar .navbar-brand {
    color:#80368f;
    font-weight: 600;
    font-size: 1.8rem;
}
.navbar li img {
    width: 50px;
    height: 50px;
}
header {
    position: relative;
  height: auto;
  background-image: url(../img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header a {
    background-color: #80368f !important;
    color: #fff !important;
    padding: 15px 25px;
}
@media (max-width: 760px) {
    
    header h1 {
        min-height: 22vh;
    }
}
@media  (max-width: 960px) {
    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url(../img/header.jpg);
    }
}
.section-checks li {
    list-style: none;
    padding: 20px;
}
.section-join img {
    border: 5px solid #fff;
}
.section-join .img-2 {
    width: 8%;
}
.section-join .img-1 {
    width: 6%;
}
.section-join h2 span {
    color: #80368f;
}
.section-join .form-div span {
    font-weight: 500;
    background-color: #f9fafb;
    border: 2px solid #a3a8b0;
    border-right: 0;
    color: #a3a8b0;
    padding: 16px 25px;
    margin-right: -9px;
}
.section-join .form-div input {
    background-color: #fff;
    font-weight: 500;
    border: 2px solid #a3a8b0;
    color: #a3a8b0;
    padding: 15px 25px;
}
.section-join .form-div button {
    background-color: #80368f;
    color: #fff;
    font-weight: 500;
    border: 2px solid #80368f;
    padding: 15px 25px;
}
.section-join .form-div button:hover {
    background-color: #fff;
    color: #80368f;
    transition: 0.5s;
}
.section-reviews i {
    color: #fbbf24;
}
@media  (max-width: 960px) {
    .section-join .form-div span {
        padding: 11px 20px;
        
    }
    .section-join .form-div input {
        padding: 10px 20px;
    }
    .section-join .form-div button {
        padding: 10px 20px;
    }
}
@media (max-width: 760px) {
    .section-join .form-div {
        text-align: left;
    }
    .section-join .form-div span {
        border-right: 2px solid #a3a8b0;
        margin-bottom: 15px;
    }
    .section-join .form-div input {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}