main {
    background-color: #e3e4e6 !important;
}
.navbar .navbar-brand {
    color:#80368f;
    font-weight: 600;
    font-size: 1.8rem;
}
.navbar li img {
    width: 50px;
    height: 50px;
}
header .cover-img img {
    height: 50vh;
    width: 100%;
}
@media (max-width: 760px) {
    header .cover-img img {
        height: 35vh;
    }
    header .profile-img {
        text-align: center !important;
        color: rgb(184, 182, 182) !important;
    }
    header .profile-img h2 {
        padding-top: 10px;
        color: rgb(184, 182, 182) !important;
    }
}
header .img-btn {
    top: 24%;
    right: 1%;
    z-index: 100;
}
header .profile-img {
    color: #fff;
}
header .editProfile {
    background-color: transparent;
    border: 2px solid #80368f;
    color: #80368f;
    font-weight: 600;
    padding: 2px 30px !important;
}
header .editProfile:hover {
    background-color: #80368f;
    border: 2px solid #80368f;
    color: #fff;
    font-weight: 600;
}
.section-payments {
    background-color: #80368f;
    color: #fff;
}
.section-payments a {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}
.section-payments a:hover {
    background-color: #fff;
    color: #80368f;
    border: #80368f 2px solid;
}
.section-wishes .btns button {
    border: 1px solid rgb(184, 182, 182);
    margin-left: 5px;
    margin-right: 5px;
}

.image-upload>input {
  display: none;
}
